{{template "base" .}}
{{define "content"}}
<div class="container blankslate blankslate-large">
<svg width="48" height="48" viewBox="0 0 24 24" fill="currentColor" class="blankslate-icon"><path d="M12 7.25a.75.75 0 0 1 .75.75v3.25H16a.75.75 0 0 1 0 1.5h-3.25V16a.75.75 0 0 1-1.5 0v-3.25H8a.75.75 0 0 1 0-1.5h3.25V8a.75.75 0 0 1 .75-.75Z"/><path d="M1.5 12a10.5 10.5 0 1 1 21 0 10.5 10.5 0 0 1-21 0ZM12 3a9 9 0 1 0 0 18 9 9 0 0 0 0-18Z"/></svg>
<h1>404</h1>
<p>This is not the page you're looking for.</p>
<a href="/" class="btn btn-primary">Take me home</a>
</div>
{{end}}
